.forecast-day-card {
  position: relative;
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
}

.weather-icon {
  vertical-align: middle;
  border-style: none;
}

.button-search {
  margin: 8px;
  border-radius: 3px;
  width: 100%;
  background-color: #2f5c1bef;
  border-color: #083a23;
  color: #d9e9e8;
}

.weather-search {
  width: 100%;
  padding: 8px;
  margin: 8px;
  color: #0c0c0c;
  background-color: #e7e7e7;
  margin: 8px;
  font-size: 16px;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}

#heading-prompt {
  margin: 8px;
}

.navbar-header {
  background: #010a33;
}
